:root {
  /*  Accede al elemento raiz del documento */
  --texto: rgba(255, 255, 255, 0.7);
  --blanco: #fff;
  --input: #3a3b3c;
  --input-hover: #4b4d4e;
  --activo: #2d88ff;
  --gris-claro: #b0b3b8;
  --fondo-contenido: #242526;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* No se incluye el margen en el ancho/alto total */
}

body {
  background-color: #18191a;
  color: var(--texto);
}

a {
  color: var(--texto);
  text-decoration: none;
}

/* ------------------------- */
/* ------- HEADER ---------- */
/* ------------------------- */
header {
  background-color: var(--fondo-contenido);
}

/* --- Logo y barra de búsqueda --- */

header .logo {
  display: inline-block;
}

header .logo svg {
  color: var(--blanco);
  width: 35px;
  height: 35px;
}

header .barra-busqueda {
  position: relative;
  width: 100%;
}

header .barra-busqueda input {
  width: 100%;
  border: none;
  background-color: var(--input);
  color: var(--texto);
  height: 40px;
  border-radius: 100px;
  padding: 0 20px 0 40px;
}

header .barra-busqueda .icono {
  position: absolute;
  top: 6px;
  left: 15px;
  color: var(--texto);
}

/* Menu Principal */
header .menu a {
  display: inline-block;
  padding: 10px 40px;
}

header .menu a:hover {
  color: var(--texto);
  background-color: var(--input);
  border-radius: 5px;
}

header .menu a svg {
  width: 25px;
  height: 25px;
}

header .menu .active {
  border-bottom: 4px solid var(--activo);
  color: var(--activo);
}

header .menu .active:hover {
  background-color: none;
  border-radius: 0px;
  color: var(--activo);
}

/* --- Botones --- */
header .botones a {
  background-color: var(--input);
  display: inline-flex;
  border-radius: 100px;
  min-width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
}

header .botones a:hover {
  background-color: var(--input-hover);
  color: var(--texto);
}

header .botones .perfil {
  height: 40px;
  padding: 0 7px;
  background-color: none;
  min-width: max-content;
}

header .botones .perfil img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-right: 5px;
}

/* ------------------------- */
/* ------- ASIDE ---------- */
/* ------------------------- */
aside {
  height: 100vh;
  overflow: auto;
  padding-top: 68px;
}

/*  --- Aside Enlaces Rápidos --- */
.enlaces-rapidos > nav a {
  display: flex;
  align-items: center;
  color: var(--blanco);
  padding: 10px;
  border-radius: 3px;
}

.enlaces-rapidos > nav a:hover {
  background-color: var(--input-hover);
}

.enlaces-rapidos .perfil img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-right: 10px;
}

.enlaces-rapidos .icono {
  margin-right: 20px;
}

.enlaces-rapidos .icono svg {
  width: 20px;
  height: 20px;
}

/* --- Footer aside izquierdo --- */
footer {
  margin: 40px 0;
}

footer nav a {
  font-size: 14px;
  margin-right: 7px;
  color: var(--gris-claro);
}

footer nav a:hover {
  text-decoration: underline;
  color: var(--gris-claro);
}

/* --- Contactos --- */
.contactos .seccion {
  margin-bottom: 20px;
}

.contactos .titulo {
  font-size: 18px;
  font-weight: bold;
  color: var(--gris-claro);
  margin-bottom: 10px;
}

.contactos .publicidad {
  display: block;
  max-height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 5px;
}

.contactos .publicidad img {
  width: 100%;
}

.contactos nav a {
  display: flex;
  align-items: center;
  color: var(--blanco);
  padding: 10px;
  border-radius: 5px;
}

.contactos nav a:hover {
  background-color: var(--input-hover);
}

.contactos nav a img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-right: 10px;
}